#!/usr/bin/env zsh

zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule archive
# zmodule utility
# zmodule git-info
# zmodule steeef
zmodule zsh-users/zsh-completions
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule romkatv/powerlevel10k
zmodule skywind3000/z.lua
zmodule supercrabtree/k
zmodule Aloxaf/fzf-tab
