zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility
# zmodule git-info
# zmodule steeef
zmodule zsh-users/zsh-completions
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
