[user]
  name = Rocky Zhang
  email = yzhang.rocky@gmail.com
[core]
  excludesfile = /Users/rockyzhang/.gitignore_global
  pager = delta
  commentchar = ";"
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  hyperlinks = true
  features = side-by-side line-numbers decorations interactive
  syntax-theme = Visual Studio Dark+
  plus-style = syntax "#203424" ; diff line added
  plus-emph-style = syntax "#214d29" ; diff text added
  minus-style = syntax "#442423" ; diff line deleted
  minus-emph-stype = syntax "#712928" ; diff text deleted
  ; For git's "--color-moved" feature. Ref: https://dandavison.github.io/delta/color-moved-support.html
  map-styles = \
    bold purple => syntax "#271344", \
    bold cyan => syntax "#0d3531", \
    bold blue => syntax "#002f4e", \
    bold yellow => syntax "#5d4616"
[delta "line-numbers"]
  line-numbers = true
  line-numbers-zero-style = "#6e7681" ; line number
  line-numbers-minus-style = "#f85149" ; gutter git added
  line-numbers-plus-style = "#2ea043" ; gutter git deleted
  line-numbers-left-style = "#333333" ; separator
  line-numbers-right-style = "#333333" ; separator
[delta "decorations"]
  file-style = "#ffffff" bold ul
  file-decoration-style = none
  hunk-header-decoration-style = "#333333" box ul ; separator
[delta "interactive"]
  keep-plus-minus-markers = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[credential]
  helper = osxkeychain

; Use neovim as git diff and merge tool
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  prompt = true
[mergetool "nvimdiff"]
  cmd = nvim -c \"Gvdiffsplit!\" \"$MERGED\"
