[user]
	name = Rocky Zhang
	email = yzhang.rocky@gmail.com
[alias]
	cm = commit
	st = status
	br = branch
[core]
	excludesfile = /Users/rockyzhang/.gitignore_global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  hyperlinks = true
  features = side-by-side line-numbers decorations zebra-dark
  syntax-theme = Monokai Extended Origin
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
  map-styles = \
    bold purple => syntax "#330f29", \
    bold blue => syntax "#271344", \
    bold cyan => syntax "#0d3531", \
    bold yellow => syntax "#222f14"
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
  helper = osxkeychain

; Use neovim as git diff and merge tool
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  prompt = true
[mergetool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
