<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustWindowForFontSizeChange</key>
	<false/>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>BadgeTopMargin</key>
	<integer>10</integer>
	<key>CheckTestRelease</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Dracula</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>0.33333333333333331</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15977837145328522</real>
				<key>Green Component</key>
				<real>0.12215272337198257</real>
				<key>Red Component</key>
				<real>0.11765811592340469</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90237069129943848</real>
				<key>Green Component</key>
				<real>0.90237069129943848</real>
				<key>Red Component</key>
				<real>0.90237069129943848</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90032327175140381</real>
				<key>Green Component</key>
				<real>0.90032327175140381</real>
				<key>Red Component</key>
				<real>0.90032327175140381</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35294118523597717</real>
				<key>Green Component</key>
				<real>0.27843138575553894</real>
				<key>Red Component</key>
				<real>0.26666668057441711</real>
			</dict>
		</dict>
		<key>Gruvbox Dark</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.11759774386882782</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.11759573966264725</real>
				<key>Red Component</key>
				<real>0.11759927868843079</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.090684391558170319</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.05879192054271698</real>
				<key>Red Component</key>
				<real>0.74529051780700684</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.11661489307880402</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.69061970710754395</real>
				<key>Red Component</key>
				<real>0.66574931144714355</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1444794088602066</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.6926688551902771</real>
				<key>Red Component</key>
				<real>0.96949708461761475</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.52537077665328979</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.58534377813339233</real>
				<key>Red Component</key>
				<real>0.44289660453796387</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.53848373889923096</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.43883562088012695</real>
				<key>Red Component</key>
				<real>0.78096956014633179</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41142863035202026</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.71257460117340088</real>
				<key>Red Component</key>
				<real>0.49072420597076416</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63873869180679321</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.82989895343780518</real>
				<key>Red Component</key>
				<real>0.90061241388320923</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.082894742488861084</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.53061914443969727</real>
				<key>Red Component</key>
				<real>0.52591603994369507</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.10328958928585052</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.53254079818725586</real>
				<key>Red Component</key>
				<real>0.80126690864562988</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.4586675763130188</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.45008346438407898</real>
				<key>Red Component</key>
				<real>0.21694663166999817</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.45103743672370911</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.29604318737983704</real>
				<key>Red Component</key>
				<real>0.62685638666152954</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.34128850698471069</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.55607825517654419</real>
				<key>Red Component</key>
				<real>0.34054014086723328</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.44320183992385864</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.5310559868812561</real>
				<key>Red Component</key>
				<real>0.5926094651222229</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.37962067127227783</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.43934443593025208</real>
				<key>Red Component</key>
				<real>0.49889594316482544</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.15763583779335022</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.18880486488342285</real>
				<key>Red Component</key>
				<real>0.96744710206985474</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.11759774386882782</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.11759573966264725</real>
				<key>Red Component</key>
				<real>0.11759927868843079</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.056549370288848877</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.28100395202636719</real>
				<key>Red Component</key>
				<real>0.7928692102432251</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63873869180679321</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.82989895343780518</real>
				<key>Red Component</key>
				<real>0.90061241388320923</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.15993706881999969</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.16613791882991791</real>
				<key>Red Component</key>
				<real>0.17867125570774078</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.11759774386882782</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.11759573966264725</real>
				<key>Red Component</key>
				<real>0.11759927868843079</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63873869180679321</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.82989895343780518</real>
				<key>Red Component</key>
				<real>0.90061241388320923</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.056549370288848877</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.28100395202636719</real>
				<key>Red Component</key>
				<real>0.7928692102432251</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.26041668653488159</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.2891082763671875</real>
				<key>Red Component</key>
				<real>0.32501408457756042</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63873869180679321</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.82989895343780518</real>
				<key>Red Component</key>
				<real>0.90061241388320923</real>
			</dict>
		</dict>
		<key>Monokai Soda</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.10051459074020386</real>
				<key>Green Component</key>
				<real>0.10051288455724716</real>
				<key>Red Component</key>
				<real>0.10051589459180832</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Green Component</key>
				<real>0.87921047210693359</real>
				<key>Red Component</key>
				<real>0.59473341703414917</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38154411315917969</real>
				<key>Green Component</key>
				<real>0.83635991811752319</real>
				<key>Red Component</key>
				<real>0.87748134136199951</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99877572059631348</real>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.61468899250030518</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92060363292694092</real>
				<key>Green Component</key>
				<real>0.81977206468582153</real>
				<key>Red Component</key>
				<real>0.34416967630386353</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9359474778175354</real>
				<key>Green Component</key>
				<real>0.96549534797668457</real>
				<key>Red Component</key>
				<real>0.96537256240844727</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Green Component</key>
				<real>0.87921047210693359</real>
				<key>Red Component</key>
				<real>0.59473341703414917</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.099807053804397583</real>
				<key>Green Component</key>
				<real>0.51805692911148071</real>
				<key>Red Component</key>
				<real>0.98094809055328369</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99877572059631348</real>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.61468899250030518</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92060363292694092</real>
				<key>Green Component</key>
				<real>0.81977206468582153</real>
				<key>Red Component</key>
				<real>0.34416967630386353</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.29652142524719238</real>
				<key>Green Component</key>
				<real>0.36959609389305115</real>
				<key>Red Component</key>
				<real>0.3829454779624939</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.10051459074020386</real>
				<key>Green Component</key>
				<real>0.10051288455724716</real>
				<key>Red Component</key>
				<real>0.10051589459180832</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92647796869277954</real>
				<key>Green Component</key>
				<real>0.96674919128417969</real>
				<key>Red Component</key>
				<real>0.96554505825042725</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20521116256713867</real>
				<key>Green Component</key>
				<real>0.20520767569541931</real>
				<key>Red Component</key>
				<real>0.20521381497383118</real>
			</dict>
		</dict>
		<key>nord</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32156863808631897</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25882354378700256</real>
				<key>Red Component</key>
				<real>0.23137255012989044</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41568627953529358</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3803921639919281</real>
				<key>Red Component</key>
				<real>0.74901962280273438</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.54901963472366333</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7450980544090271</real>
				<key>Red Component</key>
				<real>0.63921570777893066</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.54509806632995605</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.79607844352722168</real>
				<key>Red Component</key>
				<real>0.92156863212585449</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.75686275959014893</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137257099151611</real>
				<key>Red Component</key>
				<real>0.5058823823928833</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.67843139171600342</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.55686277151107788</real>
				<key>Red Component</key>
				<real>0.70588237047195435</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73725491762161255</real>
				<key>Red Component</key>
				<real>0.56078433990478516</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.95686274766921997</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.93725490570068359</real>
				<key>Red Component</key>
				<real>0.92549020051956177</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.54901963472366333</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7450980544090271</real>
				<key>Red Component</key>
				<real>0.63921570777893066</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.54509806632995605</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.79607844352722168</real>
				<key>Red Component</key>
				<real>0.92156863212585449</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.75686275959014893</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137257099151611</real>
				<key>Red Component</key>
				<real>0.5058823823928833</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.67843139171600342</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.55686277151107788</real>
				<key>Red Component</key>
				<real>0.70588237047195435</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.53333336114883423</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94117647409439087</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.91372549533843994</real>
				<key>Red Component</key>
				<real>0.89803922176361084</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41568627953529358</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33725491166114807</real>
				<key>Red Component</key>
				<real>0.29803922772407532</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41568627953529358</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3803921639919281</real>
				<key>Red Component</key>
				<real>0.74901962280273438</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.25098040699958801</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.20392157137393951</real>
				<key>Red Component</key>
				<real>0.18039216101169586</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.32156863808631897</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25882354378700256</real>
				<key>Red Component</key>
				<real>0.23137255012989044</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999600648880005</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.95686274766921997</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.93725490570068359</real>
				<key>Red Component</key>
				<real>0.92549020051956177</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.21176469326019287</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21960783004760742</real>
				<key>Red Component</key>
				<real>0.23529419302940369</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.15686270594596863</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.15686270594596863</real>
				<key>Red Component</key>
				<real>0.15686273574829102</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.91372549533843994</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.87058824300765991</real>
				<key>Red Component</key>
				<real>0.84705883264541626</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99607843160629272</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41568627953529358</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33725491166114807</real>
				<key>Red Component</key>
				<real>0.29803922772407532</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.95686274766921997</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.93725490570068359</real>
				<key>Red Component</key>
				<real>0.92549020051956177</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>E7332E4C-E360-47DB-AABA-7DFFDE7E32A9</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<false/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>DisableWindowSizeSnap</key>
	<true/>
	<key>DoubleClickPerformsSmartSelection</key>
	<true/>
	<key>EnableAPIServer</key>
	<false/>
	<key>EnableDivisionView</key>
	<true/>
	<key>EnableProxyIcon</key>
	<false/>
	<key>FlashTabBarInFullscreen</key>
	<false/>
	<key>GlobalKeyMap</key>
	<dict/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideFromDockAndAppSwitcher</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<true/>
	<key>HideTabCloseButton</key>
	<false/>
	<key>HideTabNumber</key>
	<false/>
	<key>Hotkey</key>
	<false/>
	<key>HotkeyChar</key>
	<integer>63247</integer>
	<key>HotkeyCode</key>
	<integer>111</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>8388864</integer>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>JobName</key>
	<true/>
	<key>LeftTabBarWidth</key>
	<real>114</real>
	<key>MaxVertically</key>
	<false/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Allow modifyOtherKeys</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>0.33333333333333331</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Application Keypad Allowed</key>
			<false/>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15977837145328522</real>
				<key>Green Component</key>
				<real>0.12215272337198257</real>
				<key>Red Component</key>
				<real>0.11765811592340469</real>
			</dict>
			<key>Background Image Is Tiled</key>
			<false/>
			<key>Background Image Mode</key>
			<integer>3</integer>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blend</key>
			<real>0.050000000000000003</real>
			<key>Blink Allowed</key>
			<true/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>9.0022853890645127</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90237069129943848</real>
				<key>Green Component</key>
				<real>0.90237069129943848</real>
				<key>Red Component</key>
				<real>0.90237069129943848</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Brighten Bold Text</key>
			<true/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>120</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<false/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90032327175140381</real>
				<key>Green Component</key>
				<real>0.90032327175140381</real>
				<key>Red Component</key>
				<real>0.90032327175140381</real>
			</dict>
			<key>Guid</key>
			<string>E7332E4C-E360-47DB-AABA-7DFFDE7E32A9</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x42-0x60000-0xb</key>
				<dict>
					<key>Action</key>
					<integer>9</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x45-0x60000-0xe</key>
				<dict>
					<key>Action</key>
					<integer>6</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x46-0x60000-0x3</key>
				<dict>
					<key>Action</key>
					<integer>8</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x48-0x60000-0x4</key>
				<dict>
					<key>Action</key>
					<integer>18</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x4a-0x60000-0x26</key>
				<dict>
					<key>Action</key>
					<integer>21</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x4b-0x60000-0x28</key>
				<dict>
					<key>Action</key>
					<integer>20</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x4c-0x60000-0x25</key>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x59-0x60000-0x10</key>
				<dict>
					<key>Action</key>
					<integer>7</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x5f-0x60000-0x1b</key>
				<dict>
					<key>Action</key>
					<integer>28</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>E7332E4C-E360-47DB-AABA-7DFFDE7E32A9</string>
				</dict>
				<key>0x7b-0x60000-0x21</key>
				<dict>
					<key>Action</key>
					<integer>2</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0x7c-0x60000-0x2a</key>
				<dict>
					<key>Action</key>
					<integer>29</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>E7332E4C-E360-47DB-AABA-7DFFDE7E32A9</string>
				</dict>
				<key>0x7d-0x60000-0x1e</key>
				<dict>
					<key>Action</key>
					<integer>0</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0xf700-0x240000-0x7e</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000-0x7e</key>
				<dict>
					<key>Action</key>
					<integer>55</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0xf701-0x240000-0x7d</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000-0x7d</key>
				<dict>
					<key>Action</key>
					<integer>56</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0xf702-0x260000-0x7b</key>
				<dict>
					<key>Action</key>
					<integer>53</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0xf703-0x260000-0x7c</key>
				<dict>
					<key>Action</key>
					<integer>54</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>r0cky</string>
			<key>Non Ascii Font</key>
			<string>SauceCodePowerline-Regular 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>SauceCodeProNerdFontComplete-Regular 13</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>40</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35294118523597717</real>
				<key>Green Component</key>
				<real>0.27843138575553894</real>
				<key>Red Component</key>
				<real>0.26666668057441711</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Status Bar</key>
			<false/>
			<key>Silence Bell</key>
			<true/>
			<key>Space</key>
			<integer>0</integer>
			<key>Status Bar Layout</key>
			<dict>
				<key>advanced configuration</key>
				<dict>
					<key>algorithm</key>
					<integer>0</integer>
					<key>auto-rainbow style</key>
					<integer>0</integer>
					<key>font</key>
					<string>.AppleSystemUIFont 12</string>
					<key>remove empty components</key>
					<false/>
				</dict>
				<key>components</key>
				<array/>
			</dict>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>0</integer>
			<key>Title Components</key>
			<integer>3</integer>
			<key>Transparency</key>
			<real>0.061695028088756446</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Tab Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>0.94999999999999996</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/yanzhang</string>
		</dict>
	</array>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenBookmark</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<false/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PerPaneBackgroundImage</key>
	<true/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreserveWindowSizeWhenTabBarVisibilityChanges</key>
	<true/>
	<key>Print In Black And White</key>
	<true/>
	<key>SeparateStatusBarsPerPane</key>
	<false/>
	<key>SeparateWindowTitlePerTab</key>
	<true/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>ShowNewOutputIndicator</key>
	<true/>
	<key>ShowPaneTitles</key>
	<true/>
	<key>SmartPlacement</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.22158203125000001</real>
	<key>StatusBarPosition</key>
	<integer>1</integer>
	<key>StretchTabsToFillBar</key>
	<false/>
	<key>TabStyle</key>
	<integer>0</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>1</integer>
	<key>TabViewType</key>
	<integer>1</integer>
	<key>TabsHaveCloseButton</key>
	<false/>
	<key>TerminalVMargin</key>
	<integer>2</integer>
	<key>ToolbeltTools</key>
	<array>
		<string>Actions</string>
	</array>
	<key>UseBorder</key>
	<false/>
	<key>UseLionStyleFullscreen</key>
	<true/>
	<key>UseMetal</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowNumber</key>
	<true/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>disableMetalWhenUnplugged</key>
	<false/>
	<key>findIgnoreCase_iTerm</key>
	<true/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>findRegex_iTerm</key>
	<false/>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>6</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
	<key>metalMaximizeThroughput</key>
	<false/>
</dict>
</plist>
